# <purpose of file>
#
# Copyright (C) 2026 by Anandkumar  <Truchip >
#
# Licensed under MIT
# RustFS minimal configuration — init only
CONFIG_STATIC=y
CONFIG_INIT=y
CONFIG_INIT_RUSTFS=y
# CONFIG_INIT_SYSVINIT is not set
# CONFIG_INIT_SYSTEMD is not set
CONFIG_MDEV=y
# CONFIG_UDEV is not set
CONFIG_APPLET_CAT=y
CONFIG_APPLET_CP=y
CONFIG_APPLET_MV=y
CONFIG_APPLET_RM=y
CONFIG_APPLET_MKDIR=y
# CONFIG_APPLET_RMDIR is not set
CONFIG_APPLET_LS=y
CONFIG_APPLET_TOUCH=y
CONFIG_APPLET_LN=y
CONFIG_APPLET_CHMOD=y
# CONFIG_APPLET_HEAD is not set
# CONFIG_APPLET_TAIL is not set
# CONFIG_APPLET_TEE is not set
# CONFIG_APPLET_WC is not set
# CONFIG_APPLET_DU is not set
# CONFIG_APPLET_DF is not set
# CONFIG_APPLET_STAT is not set
# CONFIG_APPLET_READLINK is not set
CONFIG_APPLET_ECHO=y
# CONFIG_APPLET_PRINTF is not set
CONFIG_APPLET_GREP=y
CONFIG_APPLET_SED=y
# CONFIG_APPLET_SORT is not set
# CONFIG_APPLET_UNIQ is not set
# CONFIG_APPLET_TR is not set
# CONFIG_APPLET_CUT is not set
# CONFIG_APPLET_PASTE is not set
# CONFIG_APPLET_FOLD is not set
# CONFIG_APPLET_REV is not set
# CONFIG_APPLET_NL is not set
# CONFIG_APPLET_BASENAME is not set
# CONFIG_APPLET_DIRNAME is not set
CONFIG_APPLET_PWD=y
# CONFIG_APPLET_REALPATH is not set
# CONFIG_APPLET_BASE64 is not set
# CONFIG_APPLET_MD5SUM is not set
# CONFIG_APPLET_SHA256SUM is not set
# CONFIG_APPLET_XXD is not set
CONFIG_APPLET_UNAME=y
CONFIG_APPLET_HOSTNAME=y
# CONFIG_APPLET_WHOAMI is not set
CONFIG_APPLET_ID=y
# CONFIG_APPLET_UPTIME is not set
CONFIG_APPLET_DATE=y
CONFIG_APPLET_ENV=y
# CONFIG_APPLET_PRINTENV is not set
CONFIG_APPLET_SLEEP=y
# CONFIG_APPLET_YES is not set
CONFIG_APPLET_TRUE=y
CONFIG_APPLET_FALSE=y
# CONFIG_APPLET_NOHUP is not set
# CONFIG_APPLET_SEQ is not set
CONFIG_APPLET_TTY=y
CONFIG_APPLET_WHICH=y
# CONFIG_APPLET_XARGS is not set
CONFIG_APPLET_FIND=y
CONFIG_APPLET_TEST=y
# CONFIG_APPLET_EXPR is not set
# CONFIG_APPLET_ADDGROUP is not set
# CONFIG_APPLET_ADDUSER is not set
# CONFIG_APPLET_AR is not set
# CONFIG_APPLET_ARP is not set
# CONFIG_APPLET_ARPING is not set
# CONFIG_APPLET_AWK is not set
# CONFIG_APPLET_BLKID is not set
# CONFIG_APPLET_BUNZIP2 is not set
# CONFIG_APPLET_BZCAT is not set
# CONFIG_APPLET_BZIP2 is not set
# CONFIG_APPLET_CHGRP is not set
# CONFIG_APPLET_CHOWN is not set
CONFIG_APPLET_CLEAR=y
# CONFIG_APPLET_DD is not set
# CONFIG_APPLET_DELGROUP is not set
# CONFIG_APPLET_DELUSER is not set
# CONFIG_APPLET_DIFF is not set
# CONFIG_APPLET_DMESG is not set
# CONFIG_APPLET_DOS2UNIX is not set
# CONFIG_APPLET_FBSET is not set
# CONFIG_APPLET_FDISK is not set
# CONFIG_APPLET_FSCK is not set
CONFIG_APPLET_SH=y
CONFIG_APPLET_PS=y
CONFIG_APPLET_FREE=y
CONFIG_APPLET_SYNC=y
CONFIG_APPLET_MKTEMP=y
CONFIG_APPLET_NPROC=y
CONFIG_APPLET_TAC=y
CONFIG_APPLET_TIMEOUT=y
# CONFIG_APPLET_OD is not set
CONFIG_APPLET_TRUNCATE=y
# CONFIG_APPLET_STRINGS is not set
# CONFIG_APPLET_CMP is not set
